<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Spring-Shopsite</title>
</head>

<body>
    <p th:text="${message}"></p>
    <form th:action="@{/login_result}" th:object="${loginForm}" method="post">
        ID：<input type="text" th:field="*{id}">
        <BR />
        お名前：<input type="text" th:field="*{name}">
        <BR />
        <input type="submit" value="ログイン" />
        <BR />
    </form>
</body>

</html>